{% extends 'base.html.twig' %}

{% block title %}Nouveautés Jeux-Vidéo{% endblock %}

{% block body %}
    <div class="message-scrapp">Les données ci-dessous proviennent du site Instant Gaming</div>
    <div class="gamecard-container">
        {% for game in games %}
            <a class="game-url" target="_blank" href="{{ game.urlgame }}">
                <div class="game-card">
                    <img class="game-img" src="{{  game.urlimage }}" alt="{{ game.title }}"/>
                    <div class="container">
                        <p class="game-price">{{ game.price }}</p>
                        <div class="game-infos">
                            <p class="game-release-date">{{ game.releasedate }}</p>
                            <h3 class="game-title">{{ game.title|upper }}</h3>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
